# Copier ce fichier en .env.local et remplir les vraies valeurs

NEXT_PUBLIC_FRAPPE_URL=https://VOTRE-INSTANCE.frappe.cloud
NEXT_PUBLIC_FRAPPE_API_KEY=VOTRE_API_KEY
NEXT_PUBLIC_FRAPPE_API_SECRET=VOTRE_API_SECRET
